* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #EFEFEF;
	color: #363639;
  font-family: 'Comfortaa', cursive !important;
}



/* ? ----- PORTADA ----- */
.portada {
	width: 100%;

	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}

.portada.oculta {
	transform: translateY(100%);
}

.header {
	margin-bottom: 50px;
	text-transform: uppercase;
	letter-spacing: 3px;
	background: rgba(255,255,255,.6);
	padding: 30px;
	border-radius: 20px;
}

.header .logotipo {
	font-size: 50px;
	font-size: 900;
	margin-bottom: 20px;
}

.header .mensaje {
	font-size: 30px;
	font-weight: 600;
}

.msj{
	background: rgba(255,255,255,.6);
	margin-bottom: 70px;
	padding: 30px;
	border-radius: 20px;
}

/* ? ----- MAIN ----- */
main {
	max-width: 1000px;
	margin: auto;
	width: 90%;
	padding: 60px 0;
	font-size: 18px;
	line-height: 28px;
	text-align: left;
}



/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.lynx-section {
	background: rgba(255,255,255,.6);
	width: 180px;
	height: 180px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}

.lynx-amount {
	display: block;
	font-size: 50px;
	font-weight: 700;
}

.lynx-word {
	font-weight: 300;
	font-size: 30px;
}


/* ? ---------------------------- */



/* ? ----- REDES SOCIALES ----- */
.redes-sociales .btn-red-social {
	padding: 15px 0;
	display: inline-block;
	min-width: 120px;
	border-radius: 5px;
	background: rgba(255,0,0,.6);
	color: #fff;
	font-size: 30px;
	margin: 0 20px;
	transition: .3s ease all;
	border-radius: 20px;
}

.redes-sociales .btn-red-social:hover {
	box-shadow: 0px 0px 50px 10px rgba(0,0,0,.15);
}

#backVideo{
	background-color: #000;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	background-size: cover !important;
	background-position: center center;
	background-attachment: fixed;
	z-index: -999;
}

.btn, .form-control{
	border-radius: 20px;
}

.toast, .toast-header{
	border-radius: 20px;
	background: rgba(255,255,255,.6);
	color: #363639;
}

.admin-cont{
	margin-top: 5%;
	border-radius: 20px;
	padding: 20px;
	background: rgba(255,255,255,.6);
	color: #363639;
}

.title-panel{
	font-weight: bold;
	margin-bottom: 50px;
}

.btn-panel{
	margin-top: 50px;
}

.alert{
	margin-top: 50px;
	margin-left: 70px;
	margin-right: 70px;
	border-radius: 20px;
}
